---
const projects = [
  {
    name: "CodeMalAcademy",
    link: "http://academy.codemal.com/",
    description: `Platform To Learn Programming Easily`,
  },
  {
    name: "AutoGroceries",
    link: "https://github.com/lynn-the-owl/auto-groceries",
    description: `Python With Image Detection To Do Your Grocery List`,
  },
  {
    name: "Scheduler",
    link: "https://github.com/TomEverson/scheduler",
    description: `Scheduling App Like Calendly`,
  },
  {
    name: "ConceptiansAI",
    link: "https://github.com/TomEverson/Conceptians-AI",
    description: `RAG I have projected on while in Conceptians`,
  },
  {
    name: "C-RestAPI",
    link: "https://github.com/TomEverson/C-RestAPI",
    description: `Rest-API written with C`,
  },
];
---

<div class="flex flex-col my-12" id="blogs">
  <div class="typing-container w-fit">
    <h1
      id="projects"
      class="text-3xl md:text-4xl font-bold mb-4 typing-line typing-line-1 w-fit"
    >
      🚀Projects
    </h1>
  </div>
  <div class="border-b flex flex-col">
    {
      projects.map((project) => (
        <a
          class="hover:cursor-pointer py-2 last:border-b-0"
          href={project.link}
        >
          <div class="flex flex-col lg:flex-row gap-2 lg:items-center text-lg font-bold">
            <p>{project.name}</p>
            <p class="flex flex-row text-sm font-normal">
              {project.description}
            </p>
          </div>
        </a>
      ))
    }
  </div>
</div>
