---
import IntroQuote from "./section/IntroSection.astro";
import ProfessionalSection from "./section/ProfessionalSection.astro";
import SweProjectSection from "./section/SweProjectSection.astro";
import DsProjectSection from "./section/DsProjectSection.astro";
---

<div class="w-10/12 m-auto md:w-1/2 h-full">
  <!-- Main -->
  <IntroQuote />
  <!-- About Me -->
  <ProfessionalSection />
  <DsProjectSection />
  <SweProjectSection />
</div>
